extends layout 

block content
    h1= category.name
    ul
        each product in products 
            li
                div
                    a(href=product.url)= product.name
                    img(src=product.img_url)
                    p= product.price + '$'
        else 
            li No products found

    div(style='margin-top:20px;margin-left:20px').option-menu
        p(style='margin-top:20px;')
            a(href='/category/delete/'+category._id) Delete this category
        p(style='margin-top:10px;')
            a(href='/category/update/'+category._id) Update this category
        p(style='margin-top:10px;')
            a(href='/category') -> Go back category page